a:hover {
  font-weight: bolder;
}

.img-animation {
  transition: transform 2s;
  &:hover {
    transform: scale(105%);
  }
}

.button {
  transition: all 1s;
  cursor: pointer;
  &:hover {
    color: white;
    font-weight: bold;
  }
  .button--enviar:hover {
    background-image: $primary-color;
  }
}

h1 {
  animation: aparecer 2s ease;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
