.nav__style {
  background-color: $primary-color;
  color: white;
}

/*Burger menu color*/

#burgermenu {
  color: $burgermenu-color;
}
.custom-toggler.navbar-toggler {
  border-color: $burgermenu-color;
}
